/* Convert this into scss */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body {
    margin: 0;
    background-color: #f8f9fa;
    font-family: 'Nunito Sans', sans-serif;
}

button {
    height: 50px;
    padding: 16px;
    margin: 10px;
    border: none;
    background-color: #fff;
    border-radius: 6px;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 1px;
    color: #282B31;
    font-family: 'Nunito Sans', sans-serif;
}

button:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
}

.button-accent {
    background: linear-gradient(163.33deg, #FF8E64 0%, #FFE641 100%);
    color: #fff;
}

input {
    height: 50px;
    padding: 14px 20px 14px 20px;
    background: #F8F9FA;
    border: 1px solid #E7E8EA;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: 'Nunito Sans', sans-serif;font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 23px;
}

input:focus {
    outline: none;
}